.navbar
{
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin:20px 130px;

}

.nav-menu 
{
  display: flex;
  align-items: center;
  list-style: none;
  gap: 50px;
  font-size: 15px;
}

.nav-connect 
{
    padding : 20px 30px ;
    border-radius: 50px;
    background-color: rgb(255, 244, 225);
    font-size: 15px;
    cursor: pointer;
    color: rgb(56,56,56);
    transition: 0.3;

}

.nav-connect:hover
{
    transform: scale(1.04);
}
